body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

.center {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card {
  background:#111827;
  padding:20px;
  border-radius:12px;
  margin:15px;
}

input, button {
  width:100%;
  padding:12px;
  margin-top:10px;
  border-radius:8px;
  border:none;
}

button {
  background:#22c55e;
  color:white;
  font-weight:bold;
}

.topbar {
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:#020617;
}

.container {
  max-width:600px;
  margin:auto;
}

.small {
  font-size:12px;
  opacity:.7;
}

ul {
  padding-left:18px;
}
